html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.jian{
  display:flex;

}
Box Link{
  flex:1;
  text-align:center;
  padding:10px;  
  text-decoration:none;
  font-size:21px;
  color:black;
}
nav a:hover{
  background-color:lightgreen;
  color:white;
  filter:brightness(100%);
}
.tit{
  text-align: center;
  text-decoration: underline;
}
#bg{
  background-color: green;
}

.xu{
  font-family: "Comic Sans";
  text-align: left;
  text-decoration: dashed;
}
.xd{
  text-wrap:wrap ;
}